@import "sass/helpers/variables";

*,
::before,
::after {
  box-sizing: border-box;
 
}
body,
html {
  margin: 0;
 
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  font-family: $contentFont;
}
h4{
  margin: 0;
}