.headline{
    
    text-align: center;
    background: var(--Background, #F6F6F6);
    font-family: $contentFont;

    button{
        width: 13.625rem;
  height: 3.125rem;
  font-size: 1rem;
border: transparent;
  border-radius: 1.5625rem;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  color: #F6F6F6;
  @include boxshadow;
 }
  padding-bottom: 3rem;
  }
  .f{
    font-family: $contentFont; 
    & ol{
    display: flex;
    text-align: center;
    flex-direction:column;
    }
    background: var(--White, #FFF);
        & li {
    height: 4.52369rem;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1.25rem;
            border-radius: 1.25rem;
            /* Shadow/Instructions */
    @include boxshadow;
    
    
             & ::before{
                background-color: #9356DC;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
    
                counter-increment: my-sec-counter;
                content: counter(my-sec-counter);    
    left: 4rem;  }   
            }
           
            & i {
                padding-right: 1.25rem;
            }
          }