@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import 'sass/layout/global';
@import 'sass/helpers/variables';
@import 'sass/helpers/mixin';
@import 'sass/layout/header';
@import 'sass/layout/headline';
@import 'sass/layout/fonctionnement';
@import 'sass/layout/restaurent';
@import 'sass/layout/footer';
@import './sass/layout/menu';


 .localisation{
        @include flexcernter;
color: #353535;
gap: 1.0625rem;
  background: var(--Grey-2, #EAEAEA);
  font-family: $contentFont;

 
}

  
  
    


