@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import 'sass/layout/global';
@import 'sass/helpers/variables';
@import 'sass/helpers/mixin';
@import 'sass/layout/header';
@import 'sass/layout/headline';
@import 'sass/layout/fonctionnement';






       
 
    .localisation{
        @include flexcernter;
height: 3.125rem;
color: #353535;
gap: 1.0625rem;
  background: var(--Grey-2, #EAEAEA);
  font-family: $contentFont;

 
}

  
  
    


