@mixin flexcernter{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@mixin boxshadow{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); 

}
@mixin background {
   
    color:    linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
  
}