$green:#99E2D0;
$greenFont:#008766;
$blue:#89C8FA;
$bluesecond:#003A68;
$primary:#9356DC;
$logoFont:'Shrikhand';
$contentFont:'Roboto';
$Button-Gradient:(to top, #9356dc -11.44%, #ff79da 123.93%);
      $animation_duration:3s;